body {
    background-color: #c0ebff;
}

*   { 
    }


#menu{
    
    
    
}


h1 {
    color: orange;
    text-align: center;
}

p {
}

#title{
    
    font-size: 45px;
    
}


#notify{
    
    font-size: 28px;
    
}

#notify_small{
    
    font-size: 22px;
    
}

#notify_small2{
    
    font-size: 17px;
    
}

#notify_small3{
    
    font-size: 12px;
    
}

#notify_small2_red{
    
    font-size: 14px;
    color: red;
    
}

#notify_small2_green{
    
    font-size: 14px;
    color: green;
    
}

#notify_small_green{
    
    font-size: 23px;
    color: green;
    
}

#footer{
    
    font-size: 16px;
    color: blue;
    text-align : center;
    
}

#info{
    
    font-size : 28px;
    text-align : center;
    
}
